.main {
    display: grid;
    grid-column-gap: var(--general-padding);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "label label label input input input input input context context context context"
    "label label label input input input input input errors errors errors errors";
    padding-bottom: calc(var(--general-padding) * 2);
    @media only screen and (max-width: 968px) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "label label label label label label"
            "input input input input input input"
            "context context context context context context"
            "errors errors errors errors errors errors"
    }
}

.input {
    grid-area: input;
}

.label {
    grid-area: label;
}

.contextualHelp {
    grid-area: context;
    font-style: italic;
    font-size: 0.8em;
}

.error {
    grid-area: errors;
    color: red;
    font-size: 0.8em;
}
