.videoThumbnail {
    width: 100%;
}

 .videoLinks {
    grid-area: content;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: var(--general-padding);
    column-gap: var(--general-padding);
}

.singleVideoThumbnail {
    grid-area: content;
}

 @media only screen and (max-width: 968px) {
    .videoLinks {
        grid-template-columns: 1fr;
    }
}

 .videoThumbnailImage {
    width: 100%;
} 