.settingsContainer {
    grid-area: content;

    display: grid;
    grid-row-gap: var(--general-padding);
    grid-column-gap: var(--general-padding);
    grid-template-areas:
        "intro intro intro intro intro intro intro intro"
        "switchCls switchLabel switchLabel switchLabel switchLabel switchLabel switchLabel switchLabel";

    @media screen and (max-width: 650px) {
        grid-column-gap: var(--general-padding) / 2;
    }
}

.settingsIntroText {
    padding-top: var(--general-padding);
    grid-area: intro;
}

.switchCls {
    grid-area: switchCls;
}

.switchLabel {
    grid-area: switchLabel;
}
