.bigVideoContent {
    grid-area: content;
    h1,
    h2 {
        font-family: "Klinic Slab";
        text-transform: none;
        font-weight: 400;
    }

    .blurb {
        margin-bottom: var(--general-padding);
    }

    .bigPlayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.christianityOrCCMContainer {
    grid-area: content;
}

.aboutCCM {
    grid-area: content;
}
