.findOutMoreText {
    grid-area: text;
    margin-bottom: var(--text-margin-bottom);

    p:nth-of-type(1) {
        font-weight: 300;
    }

    @media only screen and (max-width: 968px) {
        p {
            margin-top: 10px;
        }
    }
}
