@import "../mixins/button";

.givingForm h1,
.givingForm h2,
.givingForm h3 {
    font-family: var(--body-font);
}

.givingForm h3 {
    text-transform: none;
    font-weight: 400;
}

.calendar {
}

.datePicker {
    font-family: inherit;
}

.formItemInput {
    grid-area: input;
    width: 100%;
}

.formItemMultipleChoiceChoices {
    display: grid;
    grid-area: choices;
    grid-template-columns: 1fr;
    grid-row-gap: var(--general-padding);
}

.accountDetails {
    display: grid;
    grid-column-gap: var(--general-padding);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "label label label info info info info info . . . .";
    margin-bottom: var(--general-padding);
}

@media only screen and (max-width: 968px) {
    .accountDetails {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "label label label info info info";
    }
}

.accountDetailLabel {
    grid-area: label;
}

.accountDetailInfo {
    grid-area: info;
    font-style: italic;
}

.givingForm input[type="text"],
.givingForm input[type="email"],
.givingForm input[type="date"] {
    border-color: var(--dark-gray);
    border-width: 1px;
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: content-box;
    line-height: var(--button-height);
    // margin-bottom: 1em;
    box-sizing: border-box;
}

.givingForm input[type="checkbox"],
.givingForm input[type="radio"] {
    display: none;
}

.givingForm input[type="checkbox"]:checked + label,
.givingForm input[type="radio"]:checked + label {
    background-color: green;
}

.givingForm input[type="radio"] + label {
    background-color: var(--dark-colour);
}

.selectableButton {
    @include button;
    width: 100%;
}

.submitButton {
    @include button;
    width: 300px;
}
