.resourcesContainer {
    grid-area: content;
}

.resources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--general-padding);
    row-gap: var(--general-padding);

    @media screen and (max-width: 968px) {
        grid-template-columns: 1fr;
    }
}

.resource {
    padding: var(--general-padding);
    border-color: var(--dark-colour);
    border-width: 1px;
    border-style: solid;
}