@import "../mixins/button";

.servicesSection {
    grid-area: content;
    height: auto;
    grid-template-columns: 1f;
    grid-template-areas:
        "title"
        "notes"
        "services";
    grid-auto-rows: auto auto;

    @media only screen and (max-width: 968px) {
        grid-template-areas:
            "title"
            "notes"
            "services";
    }
}

.serviceNotes {
    grid-area: notes;
}

.heading {
    grid-area: title;
    color: var(--light-colour);
    padding-bottom: 0.1em;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--light-colour);
    border-style: solid;

    @media only screen and (max-width: 968px) {
        padding: 20px 0px 5px 0px;
    }
}

.services {
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--general-padding) * 2);
    @media only screen and (max-width: 968px) {
        grid-template-columns: 1fr;
    }
}

.service {
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: auto auto auto auto minmax(10px, 400px);
    grid-template-areas:
        "image"
        "title"
        "dateSpecifier"
        "times"
        "info";

    @media only screen and (max-width: 968px) {
        row-gap: var(--general-padding);
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "title"
            "dateSpecifier"
            "times"
            "image"
            "info";

        border-bottom-color: var(--light-colour);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin-bottom: var(--general-padding);
    }


}

.title {
    grid-area: title;
    font-size: 1.7em;
    font-weight: 400;
    color: var(--light-colour);
    margin-bottom: 0.3em;
    line-height: 1.1;
    padding: 30px 0px 0px 0px;
    letter-spacing: 0.02em;

    @media only screen and (max-width: 968px) {
        padding: 10px 0px 0px 0px;
    }
}

.dateSpecifier {
    grid-area: dateSpecifier;
    margin-bottom: 10px;
    font-style: italic;
}

.sessions {
    grid-area: times;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // // column-gap: var(--general-padding);
    column-gap: 15px;

    &--one {
        grid-template-columns: 1fr;
    }

    &--two {
        grid-template-columns: 1fr 1fr;
        column-gap: var(--general-padding);
    }

    &--three {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.session {
    display: grid;
    //grid-template-rows: 50px 100px 50px;
    grid-template-rows: 40px 40px 50px;
    grid-template-areas: "sessionTime"
    "sessionDescription"
    "sessionLink";
    row-gap: 2px;

    color: var(--light-colour);
    font-size: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    line-height: 1em;

    @media only screen and (max-width: 968px) {
        //grid-template-rows: 50px 110px 50px;
        grid-template-rows: 40px 50px 50px;
        font-size: 0.9em;
    }
}

.sessionTime {
    grid-area: sessionTime;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.sessionDescription {
    grid-area: sessionDescription;
    font-style: italic;
    margin-bottom: 20px;
}

a.streamlink {
    grid-area: sessionLink;
    @include button;
    background-color: var(--light-colour);
    color: #c4302b;
    width: 100%;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: fade;
    &:hover {
        text-decoration: underline;
    }
}

div.streamlink {
    @include button;
    // background-color: var(--light-colour);
    // color: #c4302b;
    width: 100%;
    // cursor: pointer;
    width: 100%;
    border-color: rgba(255,255,255,0.2);
    border-style: dotted;
    border-width: 1px;
    font-style: italic;
    overflow: hidden;
}

.photo {
    grid-area: image;

    @media only screen and (max-width: 968px) {
        margin-top: 10px;
    }
}

.info {
    grid-area: info;
    padding: 20px 0px 0px 0px;
    margin: 0px 30px 0px 0px;
    font-size: 0.9em;
    color: var(--light-colour);
    font-weight: 200;
    letter-spacing: 0.02em;

    @media only screen and (max-width: 968px) {
        margin: 0px;
    }
}
